* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f2f4;
    overflow-x: hidden;
    font-family: 'SolaimanLipi', sans-serif;
}

.bn-font{
    font-family: 'SolaimanLipi', sans-serif !important;
}
.en-font{
    font-family: 'Roboto', sans-serif !important;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}


/* ===== Scroll Bar Style ====== */

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #079c86;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #068370;
}


.text-primary{
    color: #079c86 !important;
}
.bg-primary{
    background-color: #079c86 !important;
}

.default-btn, .default-outline-btn{
    display: inline-block;
    line-height: 1.5;
    font-weight: bold;
    background-color: #079c86;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #079c86;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    min-width: 100px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.default-btn:hover, .default-outline-btn:hover{
    background-color: #079c86;
}

.default-outline-btn{
    background-color: transparent;
    color: #079c86 !important;
}
.default-outline-btn:hover{
    color: white !important;
}

.form-control{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.form-control:focus{
    box-shadow: none !important;
    border-color: #079c86;
}

/*
*
*
* HOME PAGE CSS
*
*
*
*/

.top-bar{
    max-width: 1250px;
}

.top-bar .logo{
    height: 80px;
}

.top-bar .form-control{
    max-width: 300px;
}

.top-bar h5{
    text-align: left;
}
#header_section .navbar .logo{
    height: 70px;
}
#header_section .navbar .nav-item .nav-link{
    color: #fff !important;
    padding-right: 20px !important;
}

#carousel-slider .item{
    /* height: 250px; */
    background-color: #079c86;
    background-size: cover;
    background-position: center;
}

#carousel-slider.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #079c86;
    height: 15px;
    width: 15px;
}
#carousel-slider.owl-theme .owl-dots .owl-dot span{
    background: #079c863f;
    height: 15px;
    width: 15px;
}


/* categories */

#categories .item{
    background-color: #079c86;
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    /* background-image: url('https://www.freevector.com/uploads/vector/preview/18404/Free_Pink_Background_Vector.png'); */
    background-size: cover;
    background-position: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#categories .item:hover{
    background: #079c86;
    cursor: pointer;
}

#categories a{
    text-decoration: none;
    color: white;
}

#categories h5{
    text-align: center;
}


/* Members section */


#members .item{
    text-align: center;
    border: 2px solid #079c86;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
}
#members .item:hover{
    background-color: #079c86;
    color: white;
}
#members .item h4{
    color: #079c86;
}
#members .item img{
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border: 3px solid #079c86;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#members .item:hover img{
    border-color: white;
}
#members .item:hover h4{
    color: white;
}

.footer_logo{
    height: 80px;
}

#footer_section .list a{
    color: black;
    text-decoration: none;
    line-height: 32px;
    display: block;
}
#footer_section .list a:hover{
    color: #079c86;
}


/*
*
*
* BOOK PAGE CSS
*
*
*
*/

.book-list{
    text-align: justify;
}

.book-card{
    width: 160px;
    margin: 8px 10px;
    cursor: pointer;
    display: inline-block;
    /* padding: 5px; */
    position: relative;
    text-align: left;
}
.book-card img{
    width: 100%;
}
.book-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #079c86;
    opacity: 0;
    transition: .5s;
}
.book-card a{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 100px;
    height: 35px;
}
.book-card:hover .overlay{
    opacity: 1;
    box-shadow: 0px 0px 9px 2px #00000042;
}



/*
*
*
* CATEGORIES PAGE CSS
*
*
*
*/

#categories_page .category-list{
    text-align: justify;
}
#categories_page .category-list .category-card{
    display: inline-block;
    margin: 8px 5px;
}

#categories_page .category-list .category-card .category-card-box{
    width: 180px;
    min-height: 120px;
    background-color: #079c86;
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-image: url('https://www.freevector.com/uploads/vector/preview/18404/Free_Pink_Background_Vector.png'); */
    background-size: cover;
    background-position: center;
    border-radius: 5px !important;
    transition: .5s;
}

#categories_page .category-list .category-card .category-card-box:hover{
    background: #079c86;
    cursor: pointer;
}

#categories_page .category-list a{
    text-decoration: none;
    color: white;
}

#categories_page .category-list .category-card .category-card-box h5{
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .book-list{
        text-align: center;
    }
}



/*
*
*
* ABOUT US PAGE CSS
*
*
*
*/


.member-card{
    text-align: center;
    border: 2px solid #079c86;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
}
.member-card.shadow:hover{
    /* background-color: #079c86;
    color: white; */
    box-shadow: 0px 0px 17px 4px #211e1e63!important;
}
.member-card h4{
    color: #000;
    margin: 5px !important;
    font-weight: bold;
}
.member-card img{
    height: 150px;
    width: 150px;
    max-width: 100%;
    margin-top: 10px;
    border: 2px solid #079c86;
    border-radius: 50%;
}
.member-card .bx-plus{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-weight: normal;
    font-size: 20px;
    border: 2px solid white;
}

.member-card .bx-plus:hover{
    background-color: #079c86 ;
}
.member-card a{
    text-decoration: none;
}
/* .member-card:hover img{
    border-color: white;
} */
.member-card:hover h4{
    color: #079c86;
}

@media (max-width: 768px) {
    .top-bar h5{
        text-align: center;
    }
}
